<!--this template is extending from the default admin template-->
{% extends "admin/change_list.html" %}
{% load i18n %}

<!--overriding the inbuilt 'search' from the og template with my own custom one-->
{% block search %} 
    <div id="toolbar">
        <form method="get">
            <input type="text" name="track" value="{{ request.GET.track }}" placeholder="Search songs on Spotify..."/>
            <input type="submit" value="{% trans 'Search' %}" />
        </form>
    </div>
{% endblock %}

<!--overriding the results from the search-->
{% block result_list %}

    {% if error %}
        <p>{{ error }}</p>
    {% else %}

<!--original template of the adminsite-->
        {{ block.super }}
    {% endif %}
{% endblock %}


