{% extends "admin/change_list.html" %}
{% load i18n %}

{% block search %} 
    <div id="toolbar">
        <form method="get">
            <input type="text" name="track" value="{{ request.GET.track }}" placeholder="Search songs on Spotify..."/>
            <input type="submit" value="{% trans 'Search' %}" />
        </form>
    </div>
{% endblock %}
{% block result_list %}
<!--checking if searched songs alrd exists in database-->
    {% if searched_songs %}
        <table>
        <tr>
            <th>Track ID</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Valence</th>
            <th>Energy</th>
            <th>Danceability</th>
            <th>URI</th>
        </tr>
        {% for song in searched_songs %}
        <tr>
            <td>{{ song.id }}</td>
            <td>{{ song.name }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.valence }}</td>
            <td>{{ song.energy }}</td>
            <td>{{ song.danceability }}</td>
            <td>{{ song.uri }}</td>
        </tr>
        {% endfor %}
        </table>
    {% elif error %}
        <p>{{ error }}</p>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
